* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://wallpaperaccess.com/full/1717005.jpg);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
} 
header {
    font-size: 16px;
}
header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button {
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    border: none;
    background-color: #000000;
    color: #1395ff;
}
form button {
    color: #1395ff;
    background-color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    color: #1395ff;
    background-color: #ffffff;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.taskList {
    min-width: 25%;
    list-style: none;
}
.task{
    margin: 5px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task li {
    flex: 1;
}
.task-item {
    padding: 10px;
}
.trashBtn,
.checkedBtn {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}
.trashBtn {
    color: #ff0000;
}
.checkedBtn {
    color: white;
}
.fa-trash-can, .fa-circle-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    color: #b8b8b8;
}