* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://wallpaperaccess.com/full/1302869.jpg);
    font-family: 'Raleway', sans-serif;    
} 
header {
    font-size: 16px;
    color: #ffffff;
    margin-top: 50px;
}
header,
form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button {
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    border: none;
    background-color: #000000;
    color: #64ff6b;
}
form button {
    background-color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    color: #64ff6b;
    background-color: #ffffff;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="text"] {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #64ff6b;
  }
.taskList {
    min-width: 65%;
    max-width: 80%;
    list-style: none;
}
.task{
    margin: 3px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.task list {
    flex: 1;
}
.taskList {
    display: flex;
    flex-direction: column-reverse;
}
.task-item {
    padding: 10px;
}
.trashBtn,
.checkedBtn {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}
.trashBtn {
    color: #ff0000;
}
.checkedBtn {
    color: white;
}
.fa-trash-can, .fa-circle-check {
    pointer-events: none;
}
.completed {
    text-decoration: line-through;
    color: #b8b8b8;
    opacity: 30%;
}
.bigContainer {
    position: absolute;
    height: 75%;
    width: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #000000b0;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: #00000059 0px 5px 15px;
    border-radius: 10px;
} ::-webkit-scrollbar {
    width: 5px;
} ::-webkit-scrollbar-track {
    background: transparent; 
} ::-webkit-scrollbar-thumb {
    background: #888;
} ::-webkit-scrollbar-thumb:hover {
    background: #555;
}
